* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100svh;
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    color: #fff;
}
header h1{
    color: black;
}

#top {
    margin: 0 auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}
nav ul li {
    color: black;
    font-weight:bold;
    margin-right: 20px;
}

.main__search {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80svw;
    padding-left: 10px;
}

.main {
    height: 100svh;
    background-image: url('/img/beautiful-coastline-landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    color: #f0f8ff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-3 {
    padding: 1rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.count {
    color: #295943;
    font-weight: 700;
    font-size: 20px;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.home-section1 {
    padding: 5% 0;
}

.h-75 {
    height: 75% !important;
}

.home-section2 {
    overflow: hidden;
    text-align: center;
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.card-img,
.card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.shadow-sm {
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.home-section3 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card.h-100 {
    height: 100%;
}

.card-box {
    width: 100%;
    min-height: 250px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.p-2 {
    padding: .5rem !important;
}

.justify-content-center {
    justify-content: center !important;
}

.shadow {
    box-shadow: var(--bs-box-shadow) !important;
}

.m-1 {
    margin: .25rem !important;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: .5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: .5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), .03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: .75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.mt-5 {
    margin-top: 3rem !important;
}

.col {
    flex: 1 0 0%;
}



@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}